# Core functionality - changes here should be rare!
/src/app.py                   @tianlongc
/src/backend/database.py      @tianlongc
/src/backend/routers/auth.py  @tianlongc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tianlongc
